# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: pull request

permissions:
  contents: read
  packages: write

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    paths:
      - .github/workflows/pull-request.yml
      - src/**
      - electron-builder.js
      - package.json
      - tsconfig.json
      - webpack.config.ts
      - yarn.lock

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        node-version:
          - 24

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: ./node_modules
          key: ${{ matrix.os }}-${{ matrix.node-version }}-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
        env:
          cache-name: node-modules

      - run: sudo apt-get update -y && sudo apt-get install --no-install-recommends -y libopenjp2-tools rpm libarchive-tools
        name: Install Linux Dependencies
        if: (startsWith(matrix.os, 'ubuntu'))

      - run: yarn install --frozen-lockfile

      - run: yarn dist --publish never

      - name: Upload Build
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.os }}-${{ matrix.node-version }}
          path: ./dist
