# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: pull request

permissions:
  contents: read
  packages: write

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    paths:
      - .github/workflows/pull-request.yml
      - src/**
      - electron-builder.js
      - package.json
      - tsconfig.json
      - webpack.config.ts
      - yarn.lock

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
        node-version:
          - 24

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ./node_modules
          key: ${{ matrix.os }}-${{ matrix.node-version }}-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
        env:
          cache-name: node-modules

      - run: sudo apt-get update -y && sudo apt-get install --no-install-recommends -y libopenjp2-tools rpm libarchive-tools
        name: Install Linux Dependencies
        if: (startsWith(matrix.os, 'ubuntu'))

      - run: yarn install --frozen-lockfile

      - run: yarn dist --publish never

      - name: Upload Build
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: ${{ matrix.os }}-${{ matrix.node-version }}
          path: ./dist
